@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 80px;
  display: flex;
}

.img {
  width: 100%;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.purple {
  color: #7342d6;
}

.logo {
  width: 40px;
}

.span {
  font-size: 20px;
  font-weight: 800;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -12px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 450;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 80px;
  padding: 6px 20px;
  background-color: #5a0fee;
  color: #fff;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7342d6;
}


/* landing */

#landing {
  background-color: white;
}

.header {
  height: 100vh - 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img--wrapper {
  width: 50;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
}

.header__description {
  margin-top: 80px;
  width: 40%;
}

.h1 {
  margin-left: 120px;
  font-size: 18px;
  margin-bottom: 24px;
  text-align: center;
}

.para {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.form {
  position: relative;
}

.form__input {
  border-radius: 80px;
  width: 100%;
  padding: 16px 8px;
}

.button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 14px 18px;
  border-radius: 80px;
  border: none;
  background-color: #5a0fee;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #7342d6;
}

.logo_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  color: rgb(97, 96, 96);
}

.four-logo {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.img {
  width: 50%;
  height: auto;
}

.flex-container image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.text-container {
  width: 100%;
  max-width: 1150px;
}

.responsive-image {
  flex: 0 0 60%;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Highlights */

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #5a0fee;
}

.subheader {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding: 36px;
}

.highlight__description {
  font-size: 20px;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
  color: rgb(97, 96, 96);
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.highlight {
  width: calc(100% / 3);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon__container {
  border: 2px solid #e5e2e8;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 80%;
  height: auto;
}

.highlight__subtitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.highlight__para {
  display: block;
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

/* QUALITY WORK */

#QUALITY-WORKS .row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.new-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 auto;
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  margin-bottom: 50px;
}

.new-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.new-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.work__title {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: left;
}

.new-subheader {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

.new-para {
  margin-top: 10px;
  margin-bottom: 24px;
  padding-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.hero-image {
  width: 50%;
}

.new-button {
  top: 2px;
  right: 3px;
  padding: 10px 12px;
  border-radius: 80px;
  border: none;
  background-color: #5a0fee;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.new-button:hover {
  background-color: #7342d6;
}

/* STEPS*/

#STEPS {
}

.step__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.step__container {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 120px;
  margin-bottom: 50px;
}

.step__flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.steps__img-wrapper {
  width: 50%;
}

.step__header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero__2-image {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.step__text-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.title {
  font-size: 18px;
  margin-bottom: 36px;
  text-align: left;
  position: relative;
}

.steps__header {
  font-size: 40px;
  font-weight: bold;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.step__number {
  min-width: 40px;
  color: rgb(185, 184, 184);
  font-size: 36px;
  font-weight: bold;
}

.step__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.step__description {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.step__para {
  color: rgb(113, 113, 113);
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0 0 0;
}

/* PRICING */

.pricing__container {
  align-items: center;
}

.pricing__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.pricing__subheader {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  padding: 36px;
}

.pricing__subheader-discription {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

.plans {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.plan__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.li__title {
  font-size: 18px;
  color: rgb(185, 184, 184);
  margin-bottom: 42px;
}

.li__subtitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 18px;
}

.li__discription {
  font-size: 18px;
  color: rgb(185, 184, 184);
  margin-bottom: 18px;
}

.p__plan {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 56px;
  border: 1px solid rgb(207, 205, 205);
  margin-right: 80px;
  border-top: 5px solid rgb(100, 214, 176);
}

.b__plan {
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7342d6;
  padding: 20px 56px;
  border: 1px solid rgb(207, 205, 205);
}

.e__plan {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 56px;
  border: 1px solid rgb(207, 205, 205);
  margin-left: 80px;
  border-top: 5px solid salmon;
}

.p__button {
  background-color: rgb(100, 214, 176);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: 2px solid;
  padding: 8px 36px;
  margin-top: 42px;
}

.b__button {
  background-color: white;
  color: #7342d6;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: 2px solid;
  padding: 5px 36px;
  margin-top: 42px;
}

.e__button {
  background-color: salmon;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: 2px solid;
  padding: 5px 36px;
  margin-top: 42px;
}

/* Footer */

footer {
  background-color: #5a0fee;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
}

.li__footer-title {
  margin-top: 12px;
  color: #fff;
  margin-left: 150px;
}

.footer__link {
  color: rgb(207, 205, 205);
  margin-left: 150px;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.line {
  margin-top: 45px;
  max-width: 1200px;
  margin-left: 100px;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 40px;
  margin-top: 65px;
  margin-left:150px;
}

.footer__note {
  font-size: 20px;
  font-weight: 800;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  top: -12px;
}

.footer__copyright {
  margin-top: 65px;
  margin-left: 250px;
  color: rgb(207, 205, 205);
}
