@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 80px;
  display: flex;
}

.img {
  width: 100%;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.purple {
  color: #7342d6;
}

.logo {
  width: 40px;
}

.span {
  font-size: 20px;
  font-weight: 800;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -12px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 450;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 80px;
  padding: 6px 20px;
  background-color: #5a0fee;
  color: #fff;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7342d6;
}

#landing {
  background-color: white;
}

.header {
  height: 100vh - 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
}

.header__description {
  margin-top: 80px;
  width: 40%;
}

.h1 {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: center;
}

.para {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.form {
  position: relative;
}

.form__input {
  border-radius: 80px;
  width: 100%;
  padding: 16px 8px;
}

.button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 14px 18px;
  border-radius: 80px;
  border: none;
  background-color: #5a0fee;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #7342d6;
}

.logo_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  color: rgb(97, 96, 96);
}

.four-logo {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.img {
  width: 50%;
  height: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.flex-container image {
  max-width: 100px;
  height: auto;
  margin-left: 20px;
}

.text-container {
  width: 100%;
  max-width: 1150px;
}

.responsive-image {
  flex: 0 0 60%;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Highlights */

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #5a0fee;
}

.subheader {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding: 36px;
}

.highlight__description {
  font-size: 20px;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
  color: rgb(97, 96, 96);
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.highlight {
  width: calc(100% / 3);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon__container {
  border: 2px solid #e5e2e8;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 80%;
  height: auto;
}

.highlight__subtitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.highlight__para {
  display: block;
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

/* QUALITY WORK */

.new-row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.new-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 auto;
  display: flex;
  flex-direction: row;
}

.new-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.new-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.work__title {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: left;
}

.new-subheader {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

.new-para {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.hero-image {
  flex: 50%;
  max-width: 100%;
  height: auto;
  margin-left: 78px;
}

.new-button {
  top: 2px;
  right: 3px;
  padding: 10px 12px;
  border-radius: 80px;
  border: none;
  background-color: #5a0fee;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.new-button:hover {
  background-color: #7342d6;
}
