@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  padding: 0 32px;
  height: 80px;
  display: flex;
}

.img {
  width: 100%;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.purple {
  color: #7342d6;
}

.logo {
  width: 40px;
}

.span {
  font-size: 20px;
  font-weight: 800;
  margin-left: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -12px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 450;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 80px;
  padding: 6px 20px;
  background-color: #5a0fee;
  color: #fff;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7342d6;
}

button {
  cursor: pointer;
  border: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: rotateX(300%);
  transition: all 300ms ease;
}

.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.btn__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

/* landing */

#landing {
  background-color: white;
}

.header {
  height: 100vh - 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img--wrapper {
  width: 50;
}

.headings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
}

.header__description {
  margin-top: 80px;
  width: 40%;
}

.h1 {
  margin-left: 120px;
  font-size: 18px;
  margin-bottom: 24px;
}

.para {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.form {
  position: relative;
}

.form__input {
  border-radius: 80px;
  width: 100%;
  padding: 16px 8px;
  border: 2px solid rgb(229, 231, 235);
}

.button {
  position: absolute;
  top: 4px;
  right: 5px;
  padding: 14px 18px;
  border-radius: 80px;
  border: none;
  background-color: #5a0fee;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #7342d6;
}

.logo_text {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  color: rgb(97, 96, 96);
}

.four-logo {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.img {
  width: 50%;
  height: auto;
}

.flex-container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.text-container {
  width: 100%;
  max-width: 1150px;
}

.responsive-image {
  flex: 0 0 60%;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Highlights */

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  color: #5a0fee;
}

.subheader {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  padding: 36px;
}

.highlight__description {
  font-size: 20px;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
  color: rgb(97, 96, 96);
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.highlight {
  width: calc(100% / 3);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon__container {
  border: 2px solid #e5e2e8;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 80%;
  height: auto;
}

.highlight__subtitle {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.highlight__para {
  display: block;
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

/* QUALITY WORK */

#QUALITY-WORKS .row {
  margin: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.new-container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.new-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.new-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 28px;
}

.work__title {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: left;
}

.new-subheader {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}

.new-para {
  margin-top: 10px;
  margin-bottom: 24px;
  padding-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.hero-image {
  width: 50%;
  margin: 0 56px;
}

.new-button {
  top: 2px;
  right: 3px;
  padding: 10px 12px;
  border-radius: 80px;
  border: none;
  background-color: #5a0fee;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.new-button:hover {
  background-color: #7342d6;
}

/* STEPS*/

#steps {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.step__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.step__container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.step__flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.steps__img-wrapper {
  width: 50%;
}

.step__header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero__2-image {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.step__text-container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.title {
  font-size: 18px;
  margin-bottom: 36px;
  text-align: left;
  position: relative;
}

.steps__header {
  font-size: 40px;
  font-weight: bold;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.step__number {
  min-width: 40px;
  color: rgb(185, 184, 184);
  font-size: 36px;
  font-weight: bold;
}

.step__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.step__description {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.step__para {
  color: rgb(113, 113, 113);
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0 0 0;
}

/* PRICING */

#pricing {
  margin-top: 3rem;
}

.pricing__container {
  align-items: center;
  padding: 0 80px;
}

.pricing__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.pricing__subheader {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  padding: 36px;
}

.pricing__subheader-discription {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
}

.plans {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.plan {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.plan__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}

.li__title {
  font-size: 18px;
  color: rgb(185, 184, 184);
  margin-bottom: 42px;
}

.li__subtitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 18px;
}

.li__discription {
  font-size: 18px;
  color: rgb(185, 184, 184);
  margin-bottom: 18px;
}

.p__plan {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 56px;
  border: 1px solid rgb(207, 205, 205);
  margin-right: 80px;
  border-top: 5px solid rgb(100, 214, 176);
}

.b__plan {
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7342d6;
  padding: 20px 56px;
  border: 1px solid rgb(207, 205, 205);
}

.e__plan {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 56px;
  border: 1px solid rgb(207, 205, 205);
  margin-left: 80px;
  border-top: 5px solid salmon;
}

.p__button {
  background-color: rgb(100, 214, 176);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: 2px solid;
  padding: 8px 36px;
  margin-top: 42px;
  cursor: pointer;
}

.b__button {
  background-color: white;
  color: #7342d6;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: 2px solid;
  padding: 5px 36px;
  margin-top: 42px;
  cursor: pointer;
}

.e__button {
  background-color: salmon;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 50px;
  border: 2px solid;
  padding: 5px 36px;
  margin-top: 42px;
  cursor: pointer;
}

/* TESTIMONIALS*/

#testimonials .t__row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t__container {
  padding: 96px 0;
}

.t__row {
  padding: 0 48px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.love {
  width: 40%;
}

.testimonials__discription {
  margin: auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 64px;
  position: relative;
}

.section__tag {
  font-size: 16px;
  color: #5a0fee;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: rgb(164, 157, 157);
  line-height: 1.626;
}

.testimonial {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #263f63;
}

.t__rating {
  color: goldenrod;
  margin-right: 2px;
  margin-top: 4px;
}

.fas {
  font-family: "Font Awesome 6 free";
}

.fa-solid {
  font-weight: 900;
}

.fa-star {
  --fa: "\f005";
}

.t__title {
  line-height: 1.625;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.t__para {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.625;
  font-size: 16px;
}

.t__bottom {
  display: flex;
  justify-content: space-between;
}

.t__profile {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.smile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.t__details {
  margin-left: 24px;
}

.t__name {
  color: #263f63;
  line-height: 1.625;
  font-size: 1.25rem;
  font-weight: 700;
}

.t__role {
  color: rgb(143, 141, 171);
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms ease;
}

.divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-right-width: 1px;
  width: 0.5px;
  background-color: #edf2f7;
  height: 20px;
}

.testimonial__button svg {
  width: 16px;
  height: 16px;
}

/* START */

#start {
  padding: 0 32px;
}

.s__container {
  padding: 96px 0;
}

.s__row {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.start__container {
  padding: 96px 0;
  width: 100%;
  background-color: rgb(100, 21, 255);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__row {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start__title,
.start__buttons {
  width: 50%;
}

.start__title {
  color: #f7fafc;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  z-index: 2;
}

.start__buttons {
  display: flex;
  justify-content: flex-end;
}

.start__button {
  padding: 20px 40px;
  border-radius: 500px;
  font-weight: 700;
  font-size: 16px;
  color: #f7fafc;
  line-height: 1.5;
  letter-spacing: 0.025;
  margin: 1px;
  z-index: 2;
  cursor: pointer;
}

.start__button:nth-child(1) {
  background: #f56565;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-right: 32px;
  transition: all 300ms ease;
}

.start__button:nth-child(2) {
  background-color: #6415ff;
  border: 1px solid rgb #a0aec0 (160, 174, 192);
  transition: all 300ms ease;
}

/* Footer */

footer {
  padding: 96px 32px;
  background-color: #5a0fee;
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

.footer__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__boxes {
  margin-top: -48px;
  display: flex;
  flex-wrap: wrap;
}

.footer__links {
  width: 100%;
  margin-top: 48px;
  display: flex;
  align-items: flex-start;
  z-index: 2;
  justify-content: space-between;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.li__footer-title {
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}

.footer__link {
  color: rgb(207, 205, 205);
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.footer__link--link:nth-child(2) {
  margin-top: 24px;
}

a {
  display: inline;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px;
  margin-left: 100px;
  background: rgb(116, 44, 255);
}

.footer__box {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo-img {
  height: 32px;
  width: 32px;
}

.footer__note {
  font-size: 20px;
  font-weight: 900;
  margin-left: 8px;
  color: #fff;
  letter-spacing: 0.05em;
}

.footer__copyright {
  color: rgb(207, 205, 205);
  font-weight: 500;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social-link {
  margin-left: 16px;
  padding: 8px;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
}

.footer__social-link svg {
  height: 16px;
  width: 16px;
}

@media (max-width: 640px) {
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
}

@media (max-width: 640px) {
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
}

@media (max-width: 640px) {
  .flex__container {
    padding: 80px 0;
  }
}

@media (max-width: 1024px) {
  .text__container .row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .header__description,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .responsive__img {
    max-width: 512px;
  }
}

@media (max-width: 1024px) {
  .header__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
  }
}

@media (max-width: 640px) {
  .header__email {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .para {
    margin: 20px 0;
  }
}

@media (max-width: 1280px) {
  .para {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .form {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 640px) {
  .form__input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }
}

@media (max-width: 640px) {
  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }
}

@media (max-width: 1024px) {
  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }
}

@media (max-width: 640px) {
  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 1024px) {
  .header__customers {
    padding-right: 0px;
  }
}

@media (max-width: 1280px) {
  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 1024px) {
  .header__description,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }
}

@media (max-width: 1280px) {
  .header__img {
    max-width: 512px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
}

@media (max-width: 640px) {
  #highlights .highlights__title,
  .pricing__title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .section__para {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .highlights {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .highlights {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .highlight__subtitle {
    width: auto;
    max-width: 384px;
  }
}

@media (max-width: 640px) {
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .row {
    padding: 32px 8px;
    margin: 0 16px;
  }
}

@media (max-width: 640px) {
  .highlight__description {
    margin-left: 0px;
    margin-top: 16px;
  }
}

@media (max-width: 640px) {
  .highlight__title {
    letter-spacing: 0.025em;
    line-height: 1;
  }
}

@media (max-width: 1024px) {
  .highlight__description {
    max-width: none;
  }
}

@media (max-width: 640px) {
  .highlight__description {
    margin-top: 4px;
    line-height: 2;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  .highlight__wrapper {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .highlight__wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .highlight {
    width: auto;
    max-width: 384px;
  }
}

@media (max-width: 1024px) {
  .highlight {
    padding: 32px 8px;
    margin: 0 16px;
  }
}

@media (max-width: 640px) {
  .highlight {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .new__container {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 1024px) {
  .new-flex-container {
    margin-right: 0px;
    padding-right: 48px;
  }
}

@media (max-width: 768px) {
  .new-flex-container,
  .step__text-container,
  .testimonials__description {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .new-flex-container,
  .quality__img--wrapper,
  .step__text-container,
  .steps__img--wrapper,
  .hero-image,
  .testimonials__description,
  .love {
    width: 100%;
    max-width: 448px;
  }
}

@media (max-width: 640px) {
  .new-subheader {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .new__para {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .new__button {
    line-height: 1.5;
  }
}

@media (max-width: 640px) {
  .step__container {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  #steps .step__row,
  #testimonials .t__row {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .steps__header {
    line-height: 1.25;
  }
}

@media (max-width: 640px) {
  .steps__header {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  #steps .steps__header {
    margin: 16px 0 0 0;
  }
}

@media (max-width: 640px) {
  .step {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .step {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .step__content {
    margin-top: 12px;
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .pricing__container {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  .pricing__row {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .pricing__subheader-discription {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .p__plan,
  .b__plan,
  .e__plan {
    margin-right: 0px;
  }
}

@media (max-width: 640px) {
  .t__container {
    padding: 80px 0;
  }
}

@media (max-width: 768px) {
  .testimonials__description {
    padding-left: 0;
  }
}

@media (max-width: 640px) {
  .section__title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .section__para {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .t__para {
    margin-bottom: 32px;
  }
}

@media (max-width: 640px) {
  .t__bottom {
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
  }
}

@media (max-width: 640px) {
  .t__profile {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .smile {
    height: 64px;
    width: 64px;
  }
}

@media (max-width: 640px) {
  .t__details {
    margin-left: 0;
    margin-top: 8px;
  }
}

@media (max-width: 1024px) {
  #start .s__container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 640px) {
  .s__container {
    padding: 80px 0;
  }
}

@media (max-width: 640px) {
  .start__container {
    padding: 80px 0;
  }
}

@media (max-width: 1024px) {
  .start__row {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .start__title {
    text-align: center;
    width: 100%;
    max-width: 512px;
  }
}

@media (max-width: 1024px) {
  .start__buttons {
    width: auto;
    margin-top: 24px;
  }
}

@media (max-width: 640px) {
  .start__buttons {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .btn {
    line-height: 1.5;
  }
}

@media (max-width: 640px) {
  .start__button:nth-child(1) {
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .start__button {
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .btn {
    line-height: 1.5;
  }
}

@media (max-width: 640px) {
  .start__button {
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .start__button:nth-child(2) {
    margin-top: 16px;
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 640px) {
  .footer__boxes {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .footer__box {
    width: auto;
    padding: 0 16px;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer__copyright,
  .footer__socials {
    margin-top: 32px;
  }
}

@media (max-width: 640px) {
  .footer__copyright {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .footer__socials {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .footer__social--link:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .h1,
  .new-container,
  .step__container {
    margin-left: 0;
  }

  .new-container,
  .step__container {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .headings,
  .new-flex-container,
  .step__flex-container,
  .t__row,
  .plan {
    flex-direction: column;
    align-items: center;
  }

  .header__description,
  .header__img--wrapper,
  .new-text-container,
  .hero-image,
  .steps__img-wrapper,
  .step__text-container,
  .love,
  .testimonials__description {
    width: 100%;
    max-width: 448px;
  }

  .new-text-container,
  .step__text-container,
  .testimonials__description {
    text-align: center;
    align-items: center;
  }

  .hero-image {
    margin: 32px 0 0;
  }
}

@media (max-width: 1024px) {
  .plan {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .p__plan,
  .b__plan,
  .e__plan {
    margin: 0;
    width: 100%;
    max-width: 384px;
  }
}
